.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left{
  left: 0;
  background:#ffffff;
    
}
.right{
  right: 0;
    
    background:#bca3c2;
    
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} 

html {
    font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* Layout */
  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
  }
  header {
    grid-area: header;
    background-color: #bca3c2;
  }
  main {
    grid-area: main;
    padding: 1rem;
    
  }
  footer {
    grid-area: footer;
    background-color: #ffffff;
    color: #070707;
  }


  /* Text Modifiers  */
  a {
    font-size: 5.6rem;
    color: #070707;
    text-decoration: none;
  }
  a:hover {
    color: #b81fff;
  }
  
b {
    padding: 3rem;
    font-size: 3.5rem;
    color: #070707;
    text-decoration: none;
  }


/* Image modifieers*/
img {
    border-radius: 0.5rem;
  }
  img.FrontCover {
   
    width: 400px;
    height: 300px;
  }


  /* Style all font awesome icons */
.fa {
    padding: 7px;
    font-size: 30px;
    height: 30px;
    width: 30px;
    text-align:center;
    text-decoration:none;
    border-radius: 50%;
    margin-right:5px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

   /* instagram */
   .fa-instagram {
    background: #c48ed1;
    color: white;
  }
  
  /* spotify */
  .fa-spotify {
    background: #29bb5a;
    color: white;
  }